@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-color:  #d9d9d9;
}

.navbar {
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-item {
    list-style: none;
    font-weight: 500;
    margin-right: 50px;
    padding: 30px 10px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

#logo {
    font-size: 200%;
    font-weight: 900;
    padding: 15px 50px;
}

#mi {
    color: #cc0000;
}

#health {
    color: #59b300;
}

.content-row {
    /* display: flex;
    flex-flow: row wrap; */
}

.info {
    width: 500px;
}

.bHealth {
    font-size: 45px;
    font-weight: 900;
}

img {
    display: block;
    max-width: 50px;
}